/* Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilo do corpo */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}


/* Estilo das seções */

section {
    margin-bottom: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h1 {
    color: #35424a;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 10px;
}


/* Estilo do cabeçalho */

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}


/* Estilo da navegação */

nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    color: #35424a;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

nav a:hover {
    color: #e8491d;
}


/* Estilo do conteúdo principal */

main {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Estilo dos artigos */

article {
    margin-bottom: 20px;
}

article h2 {
    color: #35424a;
    margin-bottom: 10px;
}

article p {
    margin-bottom: 10px;
}


/* Estilo do rodapé */

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 5px;
}